* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
:root {
  --shadow-color: rgba(0, 0, 0, 0.35);
  --secondary-font: "Dongle", sans-serif;
}
body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right bottom, #2c3e50, #4ca1af, #2c3e50);
  height: 100vh;
}

/* Remove arrows from input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1,
form {
  text-align: center;
}

#root,
.App {
  height: 100%;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}
.App::-webkit-scrollbar {
  width: 8px;
}

.App {
  scrollbar-width: 8px;
  scrollbar-color: #90a4ae #cfd8dc;
}

.App::-webkit-scrollbar-track {
  background: #cfd8dc;
}

.App::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 6px;
  border: 3px solid #cfd8dc;
}
.tip {
  font-size: 70px;
  font-family: var(--secondary-font);
  color: #000;
}

.form {
  font-size: 20px;
  width: 42vw;
  margin: 0% auto;
  color: #000;
  background: #fff;
  box-shadow: 0 0 2rem var(--shadow-color);
  padding: 0px 40px;
  padding-top: 60px;
  border-radius: 15px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input,
.btn {
  border-radius: 5px;
}

input {
  text-align: center;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: 1px solid #777;
}

input:focus {
  border: 1px solid #333;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 25px auto;
  background: #2c3f51;
  color: #eee;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 5px 5px 10px 2px var(--shadow-color);
  transform: translateY(-5px);
}
.discount {
  color: #db7093;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: var(--secondary-font);
}

@media only screen and (max-width: 1000px) {
  .form {
    width: 65vw;
    font-size: 16px;
  }

  input {
    font-size: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .form {
    width: 90vw;
  }
}
